
<link rel="stylesheet" href="/css/_comment.css">

<li class="each-comment" id="comment-<%= comment._id  %>">
    <p class="each-comment-text">
        <% if (locals.user && locals.user.id==comment.user.id) { %>
            <small class="small-delete">
            
            <a href="/comments/destroy/<%= comment.id %>" class="delete-comment-button">X</a>
            </small>
            <% } %>

            <%= comment.content %>
            <br>
            <small class="small-text">
                <%= comment.user.name %>
            </small>
                    <br>
                    <small>
                        <% if(locals.user) { %>
                            <a class="toggle-like-button" data-likes="<%= comment.likes.length %>"
                                href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                                <%= comment.likes.length %> Likes
                            </a>
                            <% } else { %>
                                <%= comment.likes.length %> Likes
                                    <% } %>
                    </small>
    </p>
</li>